html {
  position: relative;
  min-height: 100vh;
}

body {
  margin-bottom: 120px;
  background-color: $gray-100;
}

section {
  padding: 40px 0;
  h1 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

h1,
h2,
h3 {
  text-transform: uppercase;
  // text-align: center;
  // font-weight: 300;
  letter-spacing: 0.2rem;
  color: $primary;
}

@media (max-width: 767px) {
  body {
    margin-bottom: 340px;
    background-color: $gray-100;
  }
}
