footer {
  color: white;
  background-color: $dark;
  position: absolute;
  bottom: 0;
  width: 100%;

  .container {
    height: 120px;
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    a {
      text-decoration: none;
    }
    h6 {
      margin-bottom: 4px;
    }
    p {
      margin-bottom: 0;
      font-size: 0.9rem;
    }
    ul {
      margin-bottom: 0;
      list-style: none;
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        padding: 0 4px;
        a {
          padding: 8px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    color: white;
    background-color: $dark;
    position: absolute;
    bottom: 0;
    width: 100%;

    .container {
      height: 340px;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      h6 {
        margin-bottom: 4px;
      }
      p {
        margin-bottom: 0;
        font-size: 0.9rem;
      }
      ul {
        margin-bottom: 0;
        list-style: none;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          padding: 0 4px;
          a {
            padding: 8px;
          }
        }
      }
    }
  }
}
